<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Learning Vue</title>
<!-- <link href="css/reset.css" rel="stylesheet" type="text/css" media="screen"> -->
<link href="css/main.css" rel="stylesheet" type="text/css" media="screen">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
	
	<main id="app">
		<h4>{{ welcomeMessage }}</h4>

		<a :href="targetUrl" target="_blank">go to vue!</a>

		<h6 v-if="hasVue">{{ vuemessage }}</h6>

		<ul>
			<li v-for="fruit in deliciousFruit">
				<p v-on:click="logFruit">{{ fruit.name }} are {{ fruit.flavour }}</p>
			</li>
		</ul>
	</main>

<script src="js/main.js"></script>
</body>
</html>
